<!DOCTYPE html>
<html>
<body>
<center>
<form >
  First name:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
 
Interested In:<input type="checkbox" name="vehicle" value="Bike">Java
<input type="checkbox" name="vehicle" value="Car">Python <br><br>
 Gender : <input type="radio" name="gender" value="male"> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other<br><br>
  Countries : <select>
  <option value="volvo">India</option>
  <option value="saab">Australia</option>
  <option value="mercedes">America</option>
  <option value="audi">Paris</option><br>
  
</select><br><br>

      Email :<input type="text" name="email" value="" placeholder="enter valid email">
<br><br>
password :
<input type="password" name="psw"><br><br>
  <input type="submit" value="Submit">

</form> 
</center>



</body>
</html>
